/* 
    Document   : style.css
    Created on : 05-06-2013
    Author     : Tim Wennekes
*/
*
{
    padding: 0;
    
    font-family: Verdana, Helvetica, Arial;
}

hmtl,body
{
    background-color: #e3e3e3;
}

a
{
    text-decoration: none;
    color: #87c135;
    font-family: Calibri;
    font-size: 14px;
    font-weight: bold;
}

a:hover
{ 
    text-decoration: underline;
}

ul
{
    list-style: none;
}

li
{
    list-style: none;
}

#container
{
    background-color: white;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px 5px #d1d1d1;
}

#header
{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    width: 500px;
    border-radius: 10px 10px 0px 0px;
}

#menucontainer
{
    margin-top: 10px;
    width: 100%;
    height: 25px;
    background-color: #87c135;
    text-align: center;
}

#menu
{
    text-align: center;
    width: 100%;
    height: 100%;
}

#contentcontainer
{
    width: 100%;
}

#content
{
    margin: 30px;
    margin-top: 15px;
}

#footercontainer
{
    background-color: #87c135;
    width: 100%;
    bottom: 0; 
    border-radius: 0px 0px 10px 10px;
    font-family: calibri;
    font-size: 11px;
    color: white;
}

#footer_left
{
    float: left;
    width: 180px;
    margin: 8px;
    margin-left: 15px;
    margin-bottom: 3px;
}

#footer_center
{
    float: left;
    width: 160px;
    position: relative;
    margin: 8px;
    margin-bottom: 3px;
}

#footer_right
{
    text-align: center;
    float: left;
    width: 90px;
    margin: 8px;
    margin-bottom: 3px;
    padding-left: 12px;
}

.menu a
{
    padding-top: 5px;
    color: white;
    text-align: center;
    width: 33.3%;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

P
{
    font-family: Calibri;
    font-size: 14px;
}

.menuitem a
{
    min-width: 2px;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.menuitem a:hover
{
    text-decoration: underline;
}

.clear
{
    clear: both;
}

img
{
    border: none;
}