/* 
    Document   : style
    Created on : 10-dec-2012, 11:06:10
    Author     : Tedjan
    Description:
        Purpose of the stylesheet follows.
*/
*
{
    margin: 0;
    padding: 0;
    
    font-family: Verdana, Helvetica, Arial;
}

hmtl,body
{
    background-color: #3d3d3c;
}

a
{
    text-decoration: none;
    color: white;
}

ul
{
    list-style: none;
}

li
{
    list-style: none;
}

#header
{
    width: 50px;
    padding: 40px 0;
    background-color: green;
}

#headercenter
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    background-color: green;
}

#menu
{
    width: 100%;
    min-height: 30px;
    background-color: #3d3d3c;
    overflow: auto;
}

#menucenter
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
}

.menuitem a
{
    min-width: 50px;
    padding: 10px 0;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding-right: 120px;
    color: #94c12f;
    text-transform: uppercase;
    text-decoration: none;
}

#contentcontainer
{
    width: 100%;
    min-height: 250px;
    padding: 40px 0;
    background-color: green;
}

#content
{
    width: 800px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
    text-align: justify;
}

#leftcontent
{
    width: 500px;
    float: left;
}

#rightcontent
{
    width: 250px;
    float: right;
}

#content a
{
    text-decoration: none;
    background-color: white;
    color: #3d3d3c;
}

.input
{
    width: 200px;
    height: 25px;
    background-color: #efefef;
}

.submit
{
    width: 200px;
    height: 30px;
    background-color: #94c12f;
    font-weight: bold;
}

#footer
{
    width: 100%;
    min-height: 270px;
    background-color: #3d3d3c;
    border-top: 5px #94c12f solid;
}

#footercenter
{
    background-color: #3d3d3c;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
}

.footeritemleft
{
    float: left;
    width: 400px;
    min-height: 100px;
    padding-top: 20px;
    background-color: #3d3d3c;
}

.footeritemleft a
{
    color: white;
    text-decoration: none;
}

.footeritemrow
{
    width: 400px;
    height: 30px;
    background-color: #3d3d3c;
}

.footeritemimg
{
    width: 70px;
    float: left;
    background-color: #3d3d3c;
}

.footeritemtext
{
    width: 320px;
    padding-top: 5px;
    float: left;
    background-color: #3d3d3c;
}

.footeritemright
{
    float: left;
    text-align: right;
    width: 400px;
    min-height: 100px;
    padding: 20px 0;
    background-color: #3d3d3c;
}

.clear
{
    clear: both;
}